@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.containerAddGame {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url('../public/images/main-bg.jpeg');
    display: flex;
    justify-content: center;
    padding-top: 17vh;
    background-size: 100% 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-size: 100%;
    font-family: 'Open Sans';
    }

  .title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 30px;
  }

  .addGameForm {
    border: 8px solid #eceaea;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    margin-top: 50px;
    padding-top: 80px;
    text-align: left;
    width: 380px;
    height: 480px;
    background: rgba(255, 255, 255, 1);
  }

  .buttonAdd {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: auto;
  }

  .boxAddGame {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 8px;
    border-radius: 0.5em;
    /* margin-top: 0px; */
    width: 340px;
    height: 120px;
    background-color: #007bff;
  }

  .titleAddGame {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 35px;
    font-family: 'Open Sans';
  }